@model Heyday_Website.Tools.PagingList<Heyday_Website.Models.Bug>

@section scripts{
    <script>
        $('#submit').keydown(function (event) {
            if (event.keyCode == 13) {
                var id = $(this).get(0).value;
                //alert(id);
                $('#form1').submit(function () {
                    if ($(this).valid()) {
                        $.ajax({
                            url: $(this).url,
                            type: this.method,
                            data: $(this).serialize(),
                            success: function (data, result) {

                            },
                            error: function (result) {
                                alert("提交失败！请联系管理员");
                            }
                        });
                    }
                    return false;
                });
            }
        })
    </script>
}
@{ int i = 0;}
<div class="container-fluid">
    <form method="post" asp-controller="BugGeneral" asp-action="FindPage" id="form1">
        <div class="accordion" id="accordionExample">
            @foreach (var bug in Model)
            {
                <div class="card">
                    <div class="card-header" id="heading@(i)">
                        <div class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse@(i)" aria-expanded="true" aria-controls="collapse@(i)">
                                @bug.Title
                            </button>
                            <div class="float-right">
                                @bug.Id.ToString().Substring(30, 6)
                                &nbsp;
                                提交者：@bug.SubmitterEmail
                                &nbsp;
                                @bug.SubmitTime
                                &nbsp;
                                @switch (bug.BugState)
                                {
                                    case Heyday_Website.Models.BugState.pending:
                                        <img src="~/images/BugState_pending.svg" />
                                        <span>待处理</span>
                                        break;
                                    case Heyday_Website.Models.BugState.reject:
                                        <img src="~/images/BugState_reject.svg" />
                                        <span>已拒绝</span>
                                        break;
                                    case Heyday_Website.Models.BugState.processing:
                                        <img src="~/images/BugState_processing.svg" />
                                        <span>处理中</span>
                                        break;
                                    case Heyday_Website.Models.BugState.delivered:
                                        <img src="~/images/BugState_delivered.svg" />
                                        <span>已交付</span>
                                        break;
                                    case Heyday_Website.Models.BugState.throwback:
                                        <img src="~/images/BugState_throwback.svg" />
                                        <span>抛回</span>
                                        break;
                                    case Heyday_Website.Models.BugState.solved:
                                        <img src="~/images/BugState_solved.svg" />
                                        <span>已解决</span>
                                        break;
                                    default:
                                        break;
                                }
                            </div>
                        </div>
                    </div>

                    <div id="collapse@(i)" class="collapse" aria-labelledby="heading@(i)" data-parent="#accordionExample">
                        <div class="card-body">
                            @bug.Content
                            <br />
                        </div>
                    </div>
                </div>
                i++;
            }
        </div>
        <div class="text-center mt-3">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" asp-controller="Bug" asp-action="BugGeneral" asp-route-id="0">首页</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" asp-controller="Bug" asp-action="BugGeneral" asp-route-id="@(Model.PageIndex-1)">上一页</a>
                    </li>
                    <li class="page-item ml-1 mr-1 mt-1">
                        @Html.TextBox("pageIndex", Model.PageIndex, new { style = "width:30px;", id = "submit" })
                    </li>
                    <li class="page-item">
                        <a class="page-link" asp-controller="Bug" asp-action="BugGeneral" asp-route-id="@(Model.PageIndex+1)">下一页</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" asp-controller="Bug" asp-action="BugGeneral" asp-route-id="@Model.TotalPages">尾页</a>
                    </li>
                </ul>
            </nav>
        </div>
    </form>
</div>
