@model Heyday_Website.ViewModels.BugGeneralDto
@section csses {
    <link href="~/css/BugTest.css" rel="stylesheet" />
    <style>
        .dropdown-menu {
            padding-top:2px;
            text-align:center;
            margin-top:1px;
            line-height:30px;
        }
        .dropdown-menu>.dropdown-item {
            width:150px;
            height:30px;
            padding:0;
        }
    </style>
}

@section scripts{
    <script>
        //从外部链接点进来就重置sessionStorage
        //设置一个bool变量fromOut默认false并存入sessionStorage
        //给外部链接添加事件，一旦点击则fromOut变为true
        //这里的逻辑：
        //如果fromOut为true，则清空sessionStorage，然后设置fromOut为false
        $(function () {
            var fromOut = sessionStorage.getItem('fromOut');
            if (fromOut == 'true') {
                sessionStorage.clear();
                sessionStorage.setItem('fromOut', 'false');
                console.log('fromOut');
            }
        })

        $(function () {
            $('#pageIndex').keydown(function (event) {
                //console.log(event.which);
                if (event.which == 13) {
                    var index = $('#pageIndex').val();
                    //console.log(index);
                    if (index > 0 && index <= @Model.TotalPage) {
                        window.location.replace("/Bug/BugGeneral?pageIndex=" + index);
                    }
                }
            })
        })

        $(function () {
            var index = @Model.PageIndex;
            //console.log(index);
            $('#pageIndex').val(index);
        })

        $(function () {
            $('#bugSubmit').click(function () {
                var title = $('#bugTitle').val();
                var content = $('#bugContent').val();
                //console.log(title, content);
                //console.log("time:", now);
                $.post("/Bug/NewBugWrite",
                    {
                        Title: title,
                        Content: content,
                        SubmitTime: '@(DateTime.Now)'
                    },
                    function (data,status) {
                        if (status == 'success') {
                            alert(data['result']);
                            window.location.replace("/Bug/BugGeneral?pageIndex=1")
                        }
                    }
                )
            })
        })

        $(function () {
            $('#onlyMe').click(function () {
                sessionStorage.setItem('option', "onlyMe");
            })
            $('#all').click(function () {
                sessionStorage.setItem('option', "all");
            })

            var first = true;
            var _searchStr = "null";
            //设置默认的option为all
            var _option = "all";
            sessionStorage.setItem('option', _option);
            $('#searchBtn').click(function () {
                var searchStr = $('#searchBug').val();
                //这里要与上次的_searchStr比较，如果不同，则可以触发点击事件
                if (searchStr != _searchStr) {
                    _searchStr = searchStr;
                    first = true;
                    sessionStorage.setItem('searchStr', searchStr);
                }
                //同理对于option
                var option = sessionStorage.getItem('option');
                if (option != _option) {
                    _option = option;
                    first = true;
                    //但由于sessionStorage之前在用户选择时就已经设过了所以这里不再设置
                    //sessionStorage.setItem('option', option);
                }

                $(this).attr('href', "/Bug/BugSearch?searchStr=" + searchStr +
                    "&option=" + option + "&pageIndex=1");
                if (first) {
                    $(this).trigger('click');
                    first = !first;
                }
            })
        })


        //页面每次刷新都更新分页按钮的url
        $(function () {
            var searchStr = sessionStorage.getItem('searchStr');
            var option = sessionStorage.getItem('option');
            console.log(searchStr);
            $('#firstPage').attr('href', '/Bug/BugSearch?searchStr=' + searchStr +
                '&option=' + option + '&pageIndex=1');
            $('#prevPage').attr('href', '/Bug/BugSearch?searchStr=' + searchStr +
                '&option=' + option + '&pageIndex=@(Model.PageIndex-1>0? Model.PageIndex - 1:1)');
            $('#nextPage').attr('href', '/Bug/BugSearch?searchStr=' + searchStr +
                '&option=' + option + '&pageIndex=@(Model.PageIndex+1<=Model.TotalPage?Model.PageIndex+1:Model.TotalPage)');
            $('#lastPage').attr('href', '/Bug/BugSearch?searchStr=' + searchStr +
                '&option=' + option + '&pageIndex=@Model.TotalPage');
        })
    </script>
 }

<div class="box">
    <ul class="btnContainer">
        <li class="left"><a class="btn btn-success" data-toggle="modal" data-target="#BugWriteModal">新建</a></li>
        <li class="right"> <a class="btn btn-success" id="searchBtn">搜索</a></li>
        <li class="right search">
            <div class="btn-group">
                <input type="text" name="searchBug" id="searchBug" value="" />
                <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split selectBtn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <div class="dropdown-menu">
                    <button class="dropdown-item" id="onlyMe">只查我的</button>
                    <button class="dropdown-item" id="all">查询所有</button>
                </div>
            </div>
        </li>
    </ul>
    <table class="ListContainer table table-hover">
        <thead>
            <tr>
                <th scope="col">BugID</th>
                <th scope="col">标题</th>
                <th scope="col">提交人</th>
                <th scope="col">状态</th>
                <th scope="col">提交时间</th>
                <th scope="col">操作</th>
            </tr>
        </thead>
        <tbody>
            @{ 
                var bugs = Model.Bugs.ToList();
            }
            @for (int i = 0; i < 10; i++)
            {
                @if (bugs.Count < i+1)
                {
                    <tr>
                        <th scope="row"></th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    continue;
                }
                <tr>
                    <th scope="row">@bugs[i].Id</th>
                    <td>@bugs[i].Title</td>
                    <td>@bugs[i].SubmitterEmail</td>
                    <td>@bugs[i].BugState</td>
                    <td>@bugs[i].SubmitTime.ToString()</td>
                    @* 这里根据你的搜索选项决定"编辑"和"删除"是否存在 *@
                    <td class="operate">
                        <a href="#">查看详细</a>
                        <a href="#" class="onlyMeOnly">编辑</a>
                        <a href="#" class="onlyMeOnly">删除</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @* 分页的按钮 *@
    <div class="pageListBtnContainer">
        <a class="btn btn-light pageListBtn" id="firstPage">首页</a>
        <a class="btn btn-light pageListBtn" id="prevPage">上一页</a>
        <span class="pageListBtn">
            <input id="pageIndex" type="text" value="" />/@(Model.TotalPage)页
        </span>
        <a class="btn btn-light pageListBtn" id="nextPage">下一页</a>
        <a class="btn btn-light pageListBtn" id="lastPage">尾页</a>
    </div>
</div>

@*填写bug的模态框  *@
<div class="modal fade" id="BugWriteModal" tabindex="-1" role="dialog" aria-labelledby="BugWriteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="BugWriteModalLabel">填写你要提交的bug</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label >Bug概述</label>
                    <input type="text" class="form-control" id="bugTitle" placeholder="示例：世界高度64层以上无法倒岩浆桶">
                    <span></span>
                </div>
                <div class="form-group">
                    <label>详细描述</label>
                    <textarea class="form-control" rows="3" id="bugContent" placeholder="示例：在世界高度64层以下用空桶取得岩浆后来到64层以上，右键岩浆桶无法倒出，系统给出提示'您的权限不够'"></textarea>
                    <span></span>
                </div>
                <button type="submit" class="btn btn-primary" id="bugSubmit">提交</button>
            </div>
    </div>
   </div>
</div>